
#todo-form>legend{
    position: absolute;
    left: 90%;
    top: 60%;
    transform: translateX(-50%);
    padding: 0;
    font-weight: 400;
    font-size: 25px;
}

#todo-form>input{
    position: absolute;
    left: 90%;
    top: 65%;
    transform: translateX(-50%);
    width: 200px;
    height: 35px;
    padding: 0;
    color: #fff;
    font-size: 15px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #fff;
    outline: none;
    text-align: center;
}

#todo-list{
    position: absolute;
    left: 89%;
    top: 70%;
    transform: translateX(-50%);
    font-weight: 400;
    font-size: 15px;
    list-style: none;
    text-align: left;
}
.todocheck{
    position: relative;
    top: 2px;
    width: 15px;
    height: 15px;
    margin-right: 6px;
    margin-top: 4px;
}